
<!-- <h1><img src='../../../assets/Images/frame.png' width="25px" height="25px"/>
         Pre-Order Coffee Dashboard</h1>  -->


<!-- <div id="frame"></div>
<div id="rec"></div> -->

<!-- <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                 
</nav> -->
<!-- <h1 class="mt-4">Dashboard</h1> -->

       <div class="container">

                   
  <app-summary></app-summary>
  <!-- <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Details</li>
</ol> -->
<app-details></app-details>
<!-- <app-summary></app-summary> -->
</div>  
